@import "tailwindcss";

@theme {
  --color-agri-dark: #09090b;
  --color-agri-card: #18181b;
  --color-agri-green: #10b981;
  --color-agri-alert: #f59e0b;
}

body {
  background-color: var(--color-agri-dark);
  color: white;
}